@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create Category";
    var successMessage = TempData["message"];
    var errorMessage = TempData["error"];
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    @if (successMessage is not null)
                    {
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>@successMessage</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    @if (errorMessage is not null)
                    {
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>@errorMessage</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <h3 class="text-center">Create Category</h3>
                </div>
                <div class="card-body">
                    <form action="/Category/Create" method="post">
                        <label for="categoryName">Category Name: </label>
                        <input type="text" name="CategoryName" class="form-control" />
                        <button class="btn btn-info text-dark float-end mt-3">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>